@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family:
      'Noto Sans TC',
      ui-sans-serif,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      'Helvetica Neue',
      Arial,
      'Noto Sans',
      sans-serif,
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol',
      'Noto Color Emoji';
  }

  h1 {
    @apply text-3xl font-bold text-themeA-dark dark:text-themeB-dark;
  }

  h2 {
    @apply text-2xl font-bold text-themeA-dark dark:text-themeB-dark;
  }

  h6 {
    @apply text-base font-medium text-themeA-dark dark:text-themeB-dark;
  }
}

:root {
  /* date-picker */
  --dp-direction: rtl;
  --dp-input-padding: 8px 30px 8px 12px;
  --dp-input-icon-padding: 52px;

  .dp__theme_light {
    --dp-disabled-color: #f5f5f5;
    --dp-border-color: #919191;
  }

  /* select */
  --vs-search-input-placeholder-color: #919191;
  --vs-disabled-bg: #f5f5f5;
}

/* oa-table */
.oa-table {
  @apply overflow-auto;
}

.oa-table table {
  @apply w-full table-fixed;
}

.oa-table td,
.oa-table th {
  @apply p-2;
}

.oa-table thead tr {
  @apply truncate;
}

.oa-table tbody tr td {
  @apply break-all;
}

.tableAction {
  @apply flex items-end gap-2 md:basis-48;
}

.tableActionCompact {
  @apply flex justify-end gap-2 md:basis-28 md:flex-col;
}

/* form input field */
.formLabel {
  @apply relative mb-1 inline-block text-gray-700;
}

.formLabel.required::after {
  content: '*';
  @apply absolute -right-2 -top-1 block text-red-500;
}

.formInput {
  @apply w-full placeholder:text-gray-500;
}

/* Dialog */
.loadingHint {
  @apply text-sm text-gray-700;
}

/* ckeditor */
.ck-content {
  ul {
    list-style: disc;
    padding-left: 1.25rem;
  }

  ol {
    list-style: decimal;
    padding-left: 1.25rem;
  }
}

/* 測試版標籤 */
.devTag {
  @apply fixed left-0 top-0 z-[2000] bg-gray-200 p-2;
}
